@use 'mystyle_light.scss';
@use 'mystyle_dark.scss';

body {
  background-color: #FFF;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  & .row {
    width: 100px;
    height: 100px;
    border: 1px solid #555555;
    padding: 10px;
    align-content: center;
    text-align: center;
  }
}


