$primary-color: #1e1ef7;
$secondary-color: #08087b;
$tertiary-color: #0e72f4;
$text-color: #999;
$text-weight: 400;
$radius: 5px;
$shadow: 7px 7px 5px 0px #696969;


$primary-dark-color: red;
$secondary-dark-color: brown;
$tertiary-dark-color: #f099a8;
$text-color_dark: #ffffff;
$text-weight_dark: 900;
$radius_dark: 10px;
$shadow_dark: -7px 7px 10px 0px #6c6c6c;









