$bg_light: #FFF;
$primary-color_light: #1e1ef7;
$secondary-color_light: #08087b;
$tertiary-color_light: #0e72f4;



$bg_dark: #a5a5a5;
$primary-color_dark: red;
$secondary-color_dark: brown;
$tertiary-color_dark: pink;


/*
@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

*/