@use "sass:color";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: $fc-primary;
}
header {
  display: flex;
  flex-direction: column;
}

div.page-container {
  display: grid;
  grid-template-columns: 200px 1fr;

  @media screen and (max-width: $viewport-medium) {
    grid-template-columns: 1fr;
  }
}

main {
  background-color: $secondary-color;
}

nav {
  background-color: $tertiary-color;
}

footer {
  background-color: $primary-color;
  align-content: center;
  font-size: $fs-sm;
  padding: 0.5em;
}
