
@use "./base" as *;

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-gap;
}

.container-1,
.container-2,
.container-3 {
  display: flex;
  flex-direction: row;
  gap: $space-gap;

  .box {
    width: 8vw;
    height: 8vh;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 4px 0px #888;
  }

  .base-color{
    width: 12vw;
  }
}

$cantBgLight: -20;
$cantTextLight: 40;

$column: 1;
@while $column <= 9 {
  .container-1 div:nth-child(#{$column}) {
    @include color-variation($base-color1, $cantBgLight, $cantTextLight);
  }
  .container-2 div:nth-child(#{$column}) {
    @include color-variation($base-color2, $cantBgLight, $cantTextLight);
  }
  .container-3 div:nth-child(#{$column}) {
    @include color-variation($base-color3, $cantBgLight, $cantTextLight);
  }
  $cantBgLight: $cantBgLight + 5;
  $cantTextLight: $cantTextLight - 10;
  $column: $column + 1;
}



