* {
  box-sizing: border-box;
}
body {
  background-color: $background;
  font-family: $ff-body;
  color: $text;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-title;
  color: $primary-color;
}

main {
  min-height: calc(100vh - $heightHeader);
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: $viewport-lg;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

input:focus {
  outline: none;
}
