.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  .image {
    position: relative;
    img {
      border-radius: $radius;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0.2em 0.4em;
    font-size: $fs-sm;

    .name {
      font-weight: 500;
    }
    .price {
      color: $color-700;
    }
  }
}

.isReserved {
  opacity: 0.5;
}
