@import "@fontsource-variable/jost/wght.css";
@import "./vendors/reset.css";
@import "./vendors/normalize.css";
@import "./base/variables.scss";
@import "./base/element.scss";
@import "./components/header.scss";
@import "./components/main.scss";