/* VARIABLES */
$primary-color: #578934;



body {
  background-color: hsl(0, 0%, 82%);
  font-size: 16px;
}

.container {
  box-sizing: border-box;
}
.card {
  max-width: 280px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  box-shadow: 0px 0px 4px 0px rgb(142, 142, 142);

  & div.content-card {
    display: grid;
    gap: 1em;
    padding: 0.5em;

  }
}

.image-card {
  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
.title-card {
  font-weight: 800;
  font-size: 1.5em;

}
.text-card {
  //grid-area: text;
  text-wrap: balance; 
}
.published-card {
  justify-self: flex-end;
  color: $primary-color;

  &::before {
    content: "Published: ";
    font-weight: bold;
    color: #000;
  }
}
.btn-card {
  background-color: $primary-color;
  padding: 1.4em;
  border: none;
  width: 100%;
  color: #FFF;
  font-size: 1.1em;
}
