.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px 3px #cccccc;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
  }
}
.logo > img {
  width: 140px;
}
.search {
  display: flex;
  flex-direction: row;
  gap: 1em;

  .input,
  .btn {
    padding: 0.6em;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #bbb;
    border: none;

    &:hover {
      box-shadow: 0 0 2px 2px #797979;
    }
  }
}
