header {
  @media screen and (max-width: $viewport-medium) {
    & div.toolbar {
      display: none;
    }
  }

  & .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4em;
    background: $secondary-color;

    input {
      border-radius: $element-radius;
    }
  }

  & .page-title {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: $fs-xl;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
  }
}
