.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.8em;
  padding: 2em;
  justify-content: space-evenly;
}

.card {
  padding: 2em 3.5em;
  border: 1px solid;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $quaternary-color;

  width: 215px;

  & .member-name {
    padding: 1em;
    font-size: 1.1em;
  }
  img {
    display: block;
    width: 100%;
    padding: 0.2em;
    border-radius: 50%;
  }
}

@media screen and (max-width: $viewport-medium) {
  .list {
    display: flex;
    flex-direction: row;
  }
  .card {
    flex-direction: row;
    width: 100%;
    align-items: center;

    & img {
      max-width: 170px;
      object-fit: fill;
    }

    & .member-name {
      text-align: left;
    }
  }
}
