.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.8em;
  padding: 2em;
  justify-content: space-evenly;
}

.card {
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: $quaternary-color;
  gap: 2em;
  width: 210px;
  height: 220px;

  & .member-name {
    font-size: 1.1em;
  }
  img {
    width: 100%;
    flex-shrink: 0;
    width: 120px;
    border-radius: 50%;
  }
}

@media screen and (max-width: $viewport-medium) {
  .list {
    display: flex;
    flex-direction: row;
  }
  .card {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2em;

    & img {
      max-width: 170px;
    }

    & .member-name {
      text-align: left;
    }
  }
}
