.menu-container {
  & .menu-title {
    font: {
      size: $fs-sm;
      weight: bold;
    }
    text: {
      transform: uppercase;
      align: center;
    }
    color: $fc-secondary;
    padding: 0.3em;
  }
  & ul > li {
    border-style: solid;
    border-width: 1px 4px 1px 4px;
    border-color: $tertiary-color;

    background-color: $accent;
    padding: 0.8em;
    font-weight: 500;
  }
  & ul > li:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}

@media screen and (max-width: $viewport-medium) {
  .menu-title {
    display: none;
  }

  div.menu-container > ul {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;

    & li {
      width: 100%;
      border-width: 4px;
      text-align: center;
    }

    /*display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    */
  }
}
