main {
   display: flex;
   flex-direction: column;
   padding: 1em;
}

.section-title {
   font-size: $fs-xl;
   font-weight: 600;
   padding: 0.2em 0;

   span#top-text::after {
      @media screen and (max-width: $viewport-large) {
         content: '3';
      }
      content: '5';
   }
}

section > div:hover img{      
   transition-duration: 0.5s;
   transform: scale(1.2)
}

section {
   gap: 0.2em;
   padding-bottom: 2em;

   img {
      width: 100%;
   }
   
   &.top {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;

      & .top-item {
         width: 100%;         
      }
      
      @media screen and (max-width: $viewport-small){
         flex-direction: column-reverse;
      }

      @media screen and (max-width: $viewport-large) {
         & div:first-child,
         & div:nth-child(2) {
            display: none;
         }
      }
   }

   &.first,
   &.second {
      display: grid;
      
      @media (min-width: $viewport-small){
         grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: $viewport-medium) and (max-width: $viewport-large) {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: 1fr 1fr;

      } 
      @media screen and (min-width: $viewport-large) {
         grid-template-columns: repeat(4, 1fr);

         & div:nth-child(5) {
            grid-column: 1 / 3;
         }
         & div:nth-child(6) {
            grid-column: 3 / -1;
         }
      }
      
      .item {
         min-width: 250px;
      }
   }






   
}
