.card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: min-content;
  flex-grow: 1;

  .image {
    border-radius: $radius;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 0.2em 0.4em;
    font-size: $fs-sm;

    .name {
      font-weight: 500;
    }
    .price {
      color: #707070;
    }
  }
}
